[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  # pin a Node version Netlify will use (optional)
  NODE_VERSION = "22"

[[plugins]]
  package = "@netlify/plugin-nextjs"
