@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* allow full-height layout when html/body use 100% */
  height: 100%;
}

/* Ensure html and body fill the viewport so Tailwind h-full works */
html,
body {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eba7e5;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}
